rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scripts/{script} {
      allow read, write;
    }

    match /cards/{card} {
      allow read, write;
    }

    match /decks/{deck} {
      allow read, write;
    }

    match /initial_blacklist/{doc} {
      allow read, write;
    }

    match /match_states/{match_state} {
      allow read, write;
    }

    match /matches/{match_doc} {
      allow read, write;
    }

    match /score_cards/{score_card} {
      allow read, write;
    }
  }
}
