name: cards_repository
description: Access to Cards datasource.
version: 0.1.0+1
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  config_repository:
    path: ../config_repository
  db_client:
    path: ../db_client
  equatable: ^2.0.5
  game_domain:
    path: ../game_domain
  game_script_machine:
    path: ../game_script_machine
  image_model_repository:
    path: ../image_model_repository
  json_annotation: ^4.8.0
  language_model_repository:
    path: ../language_model_repository
  meta: ^1.9.0

dev_dependencies:
  build_runner: ^2.3.3
  json_serializable: ^6.6.1
  mocktail: ^0.3.0
  test: ^1.24.1
  very_good_analysis: ^4.0.0

# There seems to be a breaking change in the current beta
# that makes the resolved verion of pub_semver that is
# a transitive dependency from build_runner to break.
#
# Overriding to the latest one in the mean time.
dependency_overrides:
  pub_semver: ^2.1.3
