name: deploy_firestore_rules_prod

on: workflow_dispatch

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    name: Deploy Prod Firestore Rules
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
      - name: GitHub Action for Firebase
        uses: w9jds/firebase-action@v14.15.0
        with:
          args: deploy --only firestore:rules
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_IO_FLIP }}
          PROJECT_ID: io-flip
