name: deploy_app_staging

on: workflow_dispatch

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    name: Deploy App Staging
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
          channel: "stable"
      - run: flutter packages get
      - run: flutter build web --web-renderer canvaskit -t lib/main_staging.dart --dart-define SHARING_ENABLED=true --dart-define ENCRYPTION_KEY=${{ secrets.ENCRYPTION_KEY }} --dart-define ENCRYPTION_IV=${{ secrets.ENCRYPTION_IV }} --dart-define RECAPTCHA_KEY=${{ secrets.RECAPTCHA_KEY }} --dart-define ALLOW_PRIVATE_MATCHES=true
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}"
          projectId: top-dash-dev
          target: app_staging
          expires: 30d
          channelId: live
