name: deploy_flop_dev

on:
  push:
    paths:
      - "flop/**"
      - ".github/workflows/deploy_flop_dev.yaml"
    branches:
      - main

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    name: Deploy App Development
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: "stable"
      - run: cd flop && flutter packages get
      - run: cd flop && flutter build web -t lib/main.dart --dart-define SHARING_ENABLED=true --dart-define ENCRYPTION_KEY=${{ secrets.ENCRYPTION_KEY }} --dart-define ENCRYPTION_IV=${{ secrets.ENCRYPTION_IV }} --dart-define RECAPTCHA_KEY=${{ secrets.RECAPTCHA_KEY }} --dart-define ALLOW_PRIVATE_MATCHES=true

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}"
          projectId: top-dash-dev
          target: flop_dev
          expires: 30d
          channelId: live
