name: deploy_firebase_functions_prod

on: workflow_dispatch

defaults:
  run:
    working-directory: functions

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    name: Deploy Prod Firebase Functions
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run lint
      - run: npm test
      - name: GitHub Action for Firebase
        uses: w9jds/firebase-action@v14.9.0
        with:
          args: deploy --only functions
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_IO_FLIP }}
          PROJECT_ID: io-flip
