name: deploy_firebase_functions_dev

on:
  push:
    paths:
      - ".github/workflows/deploy_firebase_functions_dev.yaml"
      - "functions/**"
    branches:
      - main

defaults:
  run:
    working-directory: functions

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    name: Deploy Dev Firebase Functions
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - run: npm run lint
      - run: npm test
      - name: GitHub Action for Firebase
        uses: w9jds/firebase-action@v14.16.0
        with:
          args: deploy --only functions
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}
          PROJECT_ID: top-dash-dev
